services:
  - type: web
    name: pdf-forge
    env: docker
    plan: free
    branch: main
    autoDeploy: false
    envVars:
      - key: SESSION_SECRET
        generateValue: true
      - key: PORT
        value: 8000
